.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  margin: 15px;
  max-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: orangered;
}

.form-control {
  margin: 20px;
}

button {
  background-color: lightyellow;
  border-radius: 15px;
  height: 25px;
  margin-bottom: 15px;
}

.grocery-list {
  width: 80%;
  margin: auto;
}

/* definitely getting ahead of myself trying to add empty boxes and eventually a checkmark. Will circle back on this once core functionality is complete */

ul {
  list-style-type: none;
  /* list-style-type: "\2610   ";
  text-align: center; */
}

ul li:before {
  /* list-style-type: "\2610   "; */
  /* content: '🔲 '; */
}

/* ul li:before {
  content: '✓';
} */